{
    "APP_NAME":"",
    "SOURCE_REPOSITORY_URL":"",
    "SOURCE_REPOSITORY_REF":"",
    "TOOLS_NAMESPACE":"",
    "DEV_NAMESPACE":"",
    "TEST_NAMESPACE":"",
    "PROD_NAMESPACE":"",
    "IMAGE_REGISTRY":"image-registry.openshift-image-registry.svc:5000",
    "SUBSCRIBE_FORM":"",
    "UNSUBSCRIBE_FORM":"",
    "SUBSCRIBE_URL":"",
    "UNSUBSCRIBE_URL":"",
    "SSO_REALM":"",
    "HOST_ADDRESS":"",
    "HOST_URL":""
}